.slide-enter {
  opacity: 0;
  transform: translateX(100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.slide-exit {
  opacity: 1;
  transform: translateX(0);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms, transform 300ms;
}

.animated-button {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.animated-button:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
}

.slide-left {
  animation: slideLeft 0.3s forwards;
}

.slide-right {
  animation: slideRight 0.3s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(0);
  }
}
